{
  email {$HELMET_TLS_EMAIL:ops@example.com}
}

{$HELMET_PUBLIC_HOST:localhost} {
  encode gzip
  handle_path /live-preview/* {
    reverse_proxy dashboard:8765
  }
  reverse_proxy dashboard:8501
  tls internal
}
